html, body {
    margin-right: 0;
    margin-top: 0;
}

#image {
    position: absolute; top: 0; right: 0;
}
#desc {
    width; 100%;
    float: left;
    margin-right: 0;
}

#rest {
    width: 100%;
    float: left;
}

